
@{
    ViewBag.Title = "Encryption";
}

<h2>Encryption and Decryption</h2>
<hr/>
<h4>Clear Text : Your cookie value</h4>
<hr/>
<h5>Encrypted Value : @ViewBag.EncryptedCookie</h5>
<hr/>
<h5>Decrypted Value : @ViewBag.DecryptedCookie</h5>

